<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITHO Academy</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/home/style.css" />

</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img alt="ITHO ACADEMY logo" src="home/img/icon itho.png"/>
        </div>
        <div class="menu">
            <a class="active" href="{{route('home.index')}}">Beranda</a>
            <a href="{{route('about.index')}}">Tentang Kami</a>
            <a href="{{route('ulasan.index')}}">Ulasan</a>
            <a href="{{route('contact.index')}}">Kontak Kami</a>
            <a href="{{route('chat.index')}}">Konsultasi</a> <img src="home/img/icons8-chatgpt-20.png" alt="ChatGPT" style="width: 20px; height: 20px; margin-left: -15px;" />
        </div>
        <div class="auth">
            <div class="auth-container">
                <div class="auth-buttons">
                    <button class="login" id="loginButton"><a href="{{route('auth.index')}}" style="color: white; text-decoration: none;">Log In</a></button>
                    <button class="signin" id="signinButton"> <a href="{{route('auth.index')}}" style="color: black; text-decoration: none;">Sign In</a></button>
                </div>
            </div>
            <div class="profile" id="profileIcon">
                <i class="fas fa-user-circle"></i>
            </div>
        </div>
    </div>
    <img src="home/img/warna.png" alt="Wave Shape" style="width: 100%; height: auto; margin-bottom: -250px;" />
    <section class="main-content" id="mainContent">
        <img alt="Illustration of a person with a megaphone coming out of a laptop screen" src="home/img/animasi1.png"/>
        <div class="text-content" id="textContent">
            <h1><img src="home/img/logo itho.png" alt="ITHO ACADEMY" /></h1>
            <p>Mulailah perjalanan sukses Anda dengan ITHO Academy sekarang!</p>
            <a class="join-button" href="#">Bergabung</a>
        </div>
    </section>
    <script src="home/app.js"></script>
</body>
</html>