<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITHO Academy Chatbot</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   
   <link rel="stylesheet" href="chatbox/style.css" />

</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo_details">
                <div class="logo_name" style="color: black;"> &nbsp; &nbsp;Chat rasyid</div>
                <i class="bx bx-menu" id="btn" style="color: black;"></i>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="#">
                        <i><img src="chatbox/img/home.png" alt="" style="width: 30px; height: 30px; margin-left: 10px; margin-top: 15px;"></i>
                        <span class="link_name">Beranda</span>
                    </a>
                    <span class="tooltip">Dashboard</span>
                </li>
                <li>
                    <a href="#">
                        <i><img src="chatbox/img/setting.png" alt="" style="width: 30px; height: 30px; margin-left: 10px; margin-top: 15px;"></i>
                        <span class="link_name">Pengaturan</span>
                    </a>
                    <span class="tooltip">Pengaturan</span>
                </li>
                <li>
                    <a href="#">
                        <i><img src="chatbox/img/history.png" alt="" style="width: 30px; height: 30px; margin-left: 10px; margin-top: 15px;"></i>
                        <span class="link_name">History</span>
                    </a>
                    <span class="tooltip">History</span>
                </li>
                <li class="profile">
                    <div class="profile_details">
                        <img src="chatbox/img/profil.png" alt="profile image">
                        <div class="profile_content">
                            <div class="name">rasyidd</div>
                            <div class="designation">Admin</div>
                        </div>
                    </div>
                    <i class="bx bx-log-out" id="log_out" style="color: black;"></i>
                </li>
            </ul>
        </div>

        <div class="main-content">
            <div class="header">
                <h1>Halo, <span class="highlight">Riyadatunnisa!</span></h1>
                <p>Ada Yang Bisa Kami Bantu?</p>
            </div>
        
            <div class="question">Apa itu Itho Academy?</div>
            <div class="response">
                {{hasil}}
            </div>

            <div class="options">
                <div class="option">Apa itu Itho Academy?</div>
                <div class="option">Bagaimana cara penggunaan Itho Academy?</div>
                <div class="option">Bagaimana cara belajar di Itho Academy?</div>
            </div>
        <form>
            <div class="footer">
                <i class="bx bxs-image" style="font-size: 24px; color: white;"></i> <!-- Ikon Gambar -->
                <input name="prompt" type="text" placeholder="Masukan Pertanyaan" />
                <button type="submit" class="send-button">
                <i class="bx bx-up-arrow" style="font-size: 24px; color: white;"></i> <!-- Tombol Panah ke Atas -->
                </button>
            </div>
        </form>
        </div>
    </div>
    
    <script src="chatbox/app.js"> </script>
    <script src="chatbox/main.js"> </script>
</body>
</html>