<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="chatbox/img/ai.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="chatbox/style.css" />
    <meta name="csrf-token" content="{{ csrfToken }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo_details">
                <span class="logo_name">ITHO Chatbot</span>
                <i class='bx bx-menu' id="btn" style="color: black;"></i>
            </div>
            <ul class="nav-list">
                <li>
                    <a href="{{route('home.index')}}">
                        <img src="chatbox/img/home.png" alt="" style="margin-left: 10px;">
                        <span class="link_name" style="margin-left: 5px; margin-top: 5px;"> &nbsp; Home</span>
                    </a>
                    <span class="tooltip">Home</span>
                </li>
                <li>
    <a href="#" id="settings">
        <img src="chatbox/img/setting.png" alt="" style="margin-left: 10px;">
        <span class="link_name" style="margin-left: 5px; margin-top: 5px;"> &nbsp; Settings</span>
    </a>
    <span class="tooltip">Settings</span>
</li>
<div id="settings-options">
    <div class="theme-toggle">
        <i class="icon" id="theme-icon">🌙</i>
        <p class="theme-label" id="theme-label">Dark Mode &nbsp;</p>
        <label class="switch">
            <input type="checkbox" id="toggle-theme">
            <span class="slider"></span>
        </label>
    </div>
</div>
                <li>
                    <a href="#" id="new-chat">
                        <img src="chatbox/img/image.png" alt="" style="width: 40px; height: 40px; margin-left: 5px;">
                        <span class="link_name" style="margin-top: 5px;"> &nbsp; New Chat</span>
                    </a>
                    <span class="tooltip">New Chat</span>
                </li>
                <li>
                    <a href="#" id="history">
                        <img src="chatbox/img/history.png" alt="" style="margin-left: 10px;">
                        <span class="link_name" style="margin-left: 5px; margin-top: 5px;"> &nbsp; History</span>
                    </a>
                    <span class="tooltip">History</span>
                </li>
            </ul>
            <div class="history" id="history-list">
                <h3>
                    History Pertanyaan:
                    <i class='bx bx-trash clear-history' id="clear-history" title="Hapus Semua Pertanyaan" style="color: black;"></i>
                </h3>
                <ul id="history-questions"></ul>
            </div>
            <li class="profile">
                <div class="profile_details">
                    <i class='bx bxs-user' style="color: #000000;"></i>
                    <div class="name_job">
                        <div class="name">Admin</div>
                        <div class="designation">ITHO Academy</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out" style="margin-top: 10px; color: #000000; .sidebar {
                    transition: width 0.5s ease, transform 0.5s ease; /* Animasi tambahan */
                }"></i>
            </li>
        </div>
        <section class="main-content">
            <div class="header">
                <h1>Welcome to <span class="highlight">ITHO ASSISTENT</span></h1>
                <p>Ask me anything!</p>
            </div>
            
            <div class="sent-messages" id="messages">
    <!-- Messages will be appended here -->
            </div>
            
            <div class="quick-questions" id="quick-questions"></div>

</section>

<div class="footer">
    <button id="send-image" class="icon-button">
         <img src="chatbox/img/foto.png" alt="" style="background-color: black; width: 40px; height:40px;">
        <input type="file" id="image-input" accept="image/*" style="display: none;">
    </button>
    <input type="text" id="user-input" placeholder="Masukan Pertanyaan..." />
    <button id="mic-button" class="icon-button">
        <img src="chatbox/img/mic.jpg" alt="" style="background-color: ; width: 40px; height:40px; margin-left: -60px; margin-top: 10px;">
    </button>
    <div class="send-button" onclick="handleSend()">
        <i class='bx bx-send' style="color: black;"></i>
    </div>
</div>




    <script src="{{asset('chatbox/app.js')}}"></script>
    
    
</body>
</html>